.App {
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  text-align: center;
  color: #09d3ac;
}

.App-demo {
  text-align: center;
  color: hsl(0, 92%, 46%);
}

.App-desc {
  font-size: 0.9em;
}

ol li {
  color: hsl(240, 89%, 29%);
}
