.Subscribe {
  padding: 8px 0;
}

.Subscribe p {
  text-align: right;
}

h4 {
  text-align: center;
}

.KYC {
  width: 100%;
  height: 112px;
  background: #daeaf8;
  text-align: center;
  padding: 2em;
  margin-bottom: 1em;
}